.mid {
    display: inline-block;
    width: 100%;
    text-align:center;
    background-color: darkviolet;
    background-image: url('/public/images/backgroundImgViolet.jpg');
}

.navbar {
    display: inline-block;
    float:left;
}

.navbar li {
    list-style: none;
    color: azure;
    display: inline-block;
    margin-top:1.5rem;
}

.navbar li a {
    text-decoration: none;
    color: rgb(29, 25, 231);
    font-size: 18px;
    padding: 8px 20px;
    color:aliceblue;
    border-radius: 2px;
    margin-right:5px;
}

.navbar li a:hover {
    color: rgb(151, 7, 247);
    border: darkmagenta;
    border-radius: 2px;
    font-size: 20px;
    background-color: yellow;
    color: crimson;
    background-image: url('../../public/images/backgroundImgGoldenYellow.png');
    border: 5px solid yellow;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    font-weight:bold;
}



.right {
    display: inline-block;
    float: right;
    margin-top: 1.5rem;
}

.right li {
    list-style: none;
    display: inline-block;
    margin: auto;
}

.right li a {
    text-decoration: none;
    color: rgb(29, 25, 231);
    font-size: 18px;
    padding: 8px 20px;
    color: aliceblue;
    border-radius: 2px;
    margin-right: 5px;
    float:right;
}

.right li a:hover {
    color: rgb(151, 7, 247);
    border: darkmagenta;
    border-radius: 2px;
    font-size: 20px;
    background-color: yellow;
    color: crimson;
    background-image: url('../../public/images/backgroundImgGoldenYellow.png');
    border: 5px solid yellow;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    font-weight:bold;

}


.right li a:active {
    font-size: 20px;
    background-color: yellow;
    color: crimson;
    background-image: url('../../public/images/backgroundImgGoldenYellow.png');
    border: 5px solid yellow;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    font-weight: bold;
}
